.device-simulation.device-simulation {
  --theme: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -30px;
  width: calc(100% + 60px);
  overflow: unset !important;
  background-color: var(--theme);
  /* Tablet */
  /* Small Desktop */
  /* Large Desktop */
  /* Extra Large Desktop */
  /* Width maxes out at 1420px due to containers */
  /* Device types */
  /* Themes */ }
  .device-simulation.device-simulation .device-simulation__content {
    order: 1;
    z-index: 0;
    margin-top: -100vh; }
    .device-simulation.device-simulation .device-simulation__content img {
      width: 100%; }
  .device-simulation.device-simulation .device-simulation__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    order: 0;
    z-index: 1; }
    .device-simulation.device-simulation .device-simulation__overlay::before, .device-simulation.device-simulation .device-simulation__overlay::after {
      content: '';
      display: block;
      flex: 1;
      width: 100%;
      background-color: var(--theme); }
  .device-simulation.device-simulation .device-simulation__device {
    flex-shrink: 0;
    max-height: 100%; }
  @media screen and (min-width: 768px) {
    .device-simulation.device-simulation {
      margin-left: -40px;
      width: calc(100% + 80px); } }
  @media screen and (min-width: 1025px) {
    .device-simulation.device-simulation {
      margin-left: -60px;
      width: calc(100% + 120px); } }
  @media screen and (min-width: 1467px) {
    .device-simulation.device-simulation {
      margin-left: -80px;
      width: calc(100% + 160px); } }
  @media screen and (min-width: 1660px) {
    .device-simulation.device-simulation {
      margin-left: calc(50% - 50vw);
      width: 100vw;
      max-width: none !important; } }
  .device-simulation.device-simulation--laptop .device-simulation__content {
    padding-top: calc(50vh - (100vw * 84 / 375));
    padding-bottom: calc(50vh - (100vw * 65 / 375));
    width: calc(100% * 235 / 375);
    /* Landscape (when image maxes on height) */ }
    @media (min-aspect-ratio: 3184 / 1992) {
      .device-simulation.device-simulation--laptop .device-simulation__content {
        width: calc(100vh * 590 / 600);
        padding-top: calc(100vh * 92 / 600);
        padding-bottom: calc(100vh * 140 / 600);
        margin-left: calc(100vh * -10 / 600); } }
  .device-simulation.device-simulation--laptop .device-simulation__overlay {
    width: 100%; }
  .device-simulation.device-simulation--laptop .device-simulation__device {
    width: 100%;
    height: auto;
    /* Landscape (when phone image maxes on height) */ }
    @media (min-aspect-ratio: 3184 / 1992) {
      .device-simulation.device-simulation--laptop .device-simulation__device {
        width: auto;
        height: 100%; } }
  .device-simulation.device-simulation--ipad .device-simulation__content {
    padding: calc(50vh - (100vw * 81 / 375)) 0 calc(50vh - (100vw * 80 / 375));
    width: calc(100% * 238 / 375);
    /* Landscape (when phone image maxes on height) */ }
    @media (min-aspect-ratio: 1278 / 800) {
      .device-simulation.device-simulation--ipad .device-simulation__content {
        width: calc(100vh * 575 / 600);
        padding-top: calc(100vh * 100 / 600);
        padding-bottom: calc(100vh * 100 / 600); } }
  .device-simulation.device-simulation--ipad .device-simulation__overlay {
    width: 100%; }
  .device-simulation.device-simulation--ipad .device-simulation__device {
    width: 100%;
    height: auto;
    /* Landscape (when phone image maxes on height) */ }
    @media (min-aspect-ratio: 1278 / 800) {
      .device-simulation.device-simulation--ipad .device-simulation__device {
        width: auto;
        height: 100%; } }
  .device-simulation.device-simulation--mobile .device-simulation__content {
    padding: calc(50vh - (100vw * 145 / 375)) 0;
    width: calc(100% * 130 / 375);
    /* Landscape (when phone image maxes on height) */ }
    @media (min-aspect-ratio: 500 / 613) {
      .device-simulation.device-simulation--mobile .device-simulation__content {
        width: calc(100vh * 270 / 975);
        padding-top: calc(100vh * 195 / 975);
        padding-bottom: calc(100vh * 190 / 975); } }
  @media screen and (min-width: 1660px) {
    .device-simulation.device-simulation--mobile .device-simulation__overlay {
      max-width: 1420px; } }
  .device-simulation.device-simulation--green {
    --theme: #16A139; }
