:root {
  -webkit-font-smoothing: antialiased; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

input, button {
  -webkit-appearance: none; }

@font-face {
  font-family: "Helvetica";
  src: url("/public/fonts/Helvetica.otf") format("embedded-opentype"), url("/public/fonts/Helvetica.ttf") format("ttf"), url("/public/fonts/Helvetica.woff") format("woff"), url("/public/fonts/Helvetica.woff2") format("woff2"); }

@font-face {
  font-family: "YellowTail";
  src: url("/public/fonts/Yellowtail-Regular.otf") format("embedded-opentype"), url("/public/fonts/Yellowtail-Regular.ttf") format("ttf"), url("/public/fonts/Yellowtail-Regular.woff") format("woff"), url("/public/fonts/Yellowtail-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "FuturaDemi";
  src: url("/public/fonts/FuturaDemi.woff") format("woff"), url("/public/fonts/FuturaDemi.woff2") format("woff2"); }

:root {
  --close-icon-url: url(/public/icons/close.svg); }

@media (min-width: 1024px) {
  html, body {
    overflow: initial; } }

body {
  --fixed-scroll: 0px;
  width: 100%;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  padding-top: 0 !important;
  overflow: initial !important; }
  body.fixed-scroll {
    position: fixed !important;
    left: 0;
    top: var(--fixed-scroll);
    padding-right: var(--scrollbar-width); }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body strong, body label, body button, body ul {
    font-family: 'Helvetica', sans-serif !important;
    letter-spacing: initial; }

/**
Add enquiry button
*/

.hideondesktop {
display:none;
}
@media screen and (max-width: 500px) {
.hideondesktop {
display:block; }
}

#Content {
  padding-top: 0 !important; }
  #Content .content_wrapper {
    overflow: initial; }

@media (min-width: 1024px) {
  #Wrapper {
    overflow: initial; } }

/**
 * Override styles for the theme header
 */
#Header_wrapper {
  position: absolute;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100; }
  #Header_wrapper #Header {
    border-bottom: 0; }
  #Header_wrapper #logo {
    padding: 0 !important;
    display: flex; }
  #Header_wrapper #logo img.logo-main {
    display: block !important; }
  #Header_wrapper #Top_bar #logo img.logo-mobile {
    display: none !important; }
  @media (max-width: 1023px) {
    #Header_wrapper #Top_bar {
      background-color: transparent !important; } }
  #Header_wrapper #Top_bar .menu > li > a,
  #Header_wrapper #Top_bar #menu ul li.submenu .menu-toggle {
    color: #FFF; }
  #Header_wrapper #Top_bar .top_bar_left {
    width: auto;
    max-width: 1000px;
    float: none;
    margin: auto; }
    #Header_wrapper #Top_bar .top_bar_left img {
      -webkit-filter: invert();
      filter: invert(); }

.c-detail-hero {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden; }
  @media (min-width: 1024px) {
    .c-detail-hero {
      height: auto;
      padding-top: 42.5%; } }
  .c-detail-hero__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .c-detail-hero__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .c-detail-hero__picture img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100% !important;
      object-fit: cover; }
  .c-detail-hero__title {
    font-family: "FuturaDemi", sans-serif !important;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: 32px;
    line-height: 38px;
    color: white; }
    @media (min-width: 1024px) {
      .c-detail-hero__title {
        font-size: 112px;
        line-height: 62px; } }

.c-detail-contents {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1024px) {
    .c-detail-contents {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 40px;
      max-width: 996px; } }
  @media (min-width: 1024px) {
    .c-detail-contents__content {
      grid-column: 1 / span 2; } }
  @media (min-width: 1024px) {
    .c-detail-contents__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  .c-detail-contents__heading {
    width: 100%;
    font-size: 26px;
    line-height: 33px;
    margin-top: 34px; }
    @media (min-width: 1024px) {
      .c-detail-contents__heading {
        margin-top: 29px; } }
  .c-detail-contents__details {
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px; }
  .c-detail-contents__floor-plan-cta {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
    color: black;
    text-decoration: underline; }
  .c-detail-contents__body {
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    margin-top: 15px;
    padding-top: 15px;
    font-size: 16px;
    line-height: 26px; }
  .c-detail-contents__expand {
    font-size: 16px;
    line-height: 25px;
    text-decoration: underline;
    color: #000; }
  .c-detail-contents__rest {
    display: none; }
  .c-detail-contents__excerpt, .c-detail-contents__rest {
    opacity: 0.5; }
  .c-detail-contents__gallery {
    margin-top: 40px;
    margin-left: -20px;
    margin-right: -20px; }
    @media (min-width: 1024px) {
      .c-detail-contents__gallery {
        margin-left: 0;
        margin-right: 0; } }
  .c-detail-contents__other-galleries {
    margin-top: 80px;
    margin-left: -20px;
    margin-right: -20px; }
    @media (min-width: 1024px) {
      .c-detail-contents__other-galleries {
        margin-left: 0;
        margin-right: 0; } }
    @media (min-width: 1024px) {
      .c-detail-contents__other-galleries .c-detail-gallery:not(:first-child) {
        margin-top: 30px; } }
  .c-detail-contents__sidebar {
    display: none; }
    @media (min-width: 1024px) {
      .c-detail-contents__sidebar {
        display: block;
        grid-column: auto / span 1; } }

.c-detail-contents--expanded .c-detail-contents__expand {
  display: none; }

.c-detail-contents--expanded .c-detail-contents__rest {
  display: block; }

@media (min-width: 1024px) {
  .c-detail-gallery {
    display: flex;
    flex-wrap: wrap; } }

.c-detail-gallery__title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 17px;
  margin-left: 20px;
  margin-right: 20px; }
  @media (min-width: 1024px) {
    .c-detail-gallery__title {
      margin-bottom: 30px;
      margin-left: 0;
      margin-right: 0; } }

.c-detail-gallery__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 6px;
  width: 100%; }

.c-detail-gallery__figure {
  width: 100%; }
  .c-detail-gallery__figure:first-child {
    grid-column: 1 / -1; }
  .c-detail-gallery__figure:not(:first-child) {
    grid-row-start: 2;
    grid-column: auto / span 1; }

.c-detail-gallery__picture {
  display: block;
  position: relative;
  padding-top: 56.25%; }

.c-detail-gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover; }

.c-detail-gallery__expand {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 48px;
  min-width: 167px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #707070;
  background-color: #FFF;
  font-size: 16px;
  line-height: 25px;
  text-decoration: underline;
  cursor: pointer;
  color: #000;
  transition: all .3s; }
  @media (min-width: 1024px) {
    .c-detail-gallery__expand {
      margin-left: auto;
      margin-right: 0; } }
  .c-detail-gallery__expand:hover {
    background-color: #FDD609;
    color: #FFF; }

.c-detail-form {
  background-color: rgba(0, 0, 0, 0.02);
  margin-top: 64px;
  text-align: center;
  padding: 17px 0 70px; }
  @media (min-width: 1024px) {
    .c-detail-form {
      margin-top: 105px;
      padding: 27px 0 48px; } }
  .c-detail-form__heading {
    font-size: 20px;
    line-height: 25px; }
  .c-detail-form__avatar {
    margin-top: 20px; }
  .c-detail-form__image {
    width: 95px;
    height: 95px;
    margin: auto;
    border-radius: 100px;
    overflow: hidden; }
    .c-detail-form__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .c-detail-form__name {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    line-height: 26px; }
  .c-detail-form__fields {
    width: calc(100% - 40px);
    max-width: 480px;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 1024px) {
      .c-detail-form__fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 17px; } }
  @media (max-width: 767px) {
    .c-detail-form__field:not(:first-child) {
      margin-top: 17px; } }
  .c-detail-form__field--radios {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1 / -1;
    height: 90px; }
  @media (min-width: 1024px) {
    .c-detail-form__field--textarea {
      grid-column: 1 / -1; } }
  .c-detail-form__label {
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 26px; }
    .c-detail-form__field--required .c-detail-form__label::after {
      content: ' *';
      display: inline; }
  .c-detail-form__input {
    margin-top: 13px;
    border-radius: 2px;
    border: 1px solid #707070;
    height: 52px;
    width: 100% !important;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 26px; }
  .c-detail-form__radio {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid #000;
    margin-right: 10px; }
    .c-detail-form__radio:not(:first-child) {
      margin-left: 30px; }
    .c-detail-form__radio:checked {
      background-color: #FDD609; }
    .c-detail-form__radio + .c-detail-form__label {
      display: inline-block; }
  @media (min-width: 1024px) {
    .c-detail-form textarea {
      min-height: 125px; } }
  .c-detail-form__submit {
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 26px;
    background-color: #FDD609;
    color: #FFF;
    cursor: pointer;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    border: 0;
    max-width: 480px; }

.c-detail-aside {
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  overflow: hidden;
  padding: 17px 16px 27px;
  position: sticky;
  top: 30px; }
  @media (min-width: 1024px) {
    .c-detail-aside {
      margin-top: 42px; } }
  .c-detail-aside__heading {
    font-size: 26px;
    line-height: 31px; }
  .c-detail-aside__person {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    margin-top: 32px;
    padding-top: 17px; }
  .c-detail-aside__figure {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    overflow: hidden;
    position: relative; }
    .c-detail-aside__figure img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover; }
  .c-detail-aside__name {
    font-size: 16px;
    line-height: 26px;
    margin-left: 11px; }
  .c-detail-aside__address {
    margin-top: 12px;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    padding-top: 22px;
    color: #38A3FF;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 14px; }
  .c-detail-aside__cta {
    --background: transparent;
    --foreground: #000;
    --border: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    height: 50px;
    font-size: 16px;
    line-height: 26px;
    background-color: var(--background);
    color: var(--foreground);
    border: 1px solid var(--border);
    font-weight: bold;
    cursor: pointer; }
    .c-detail-aside__cta--yellow {
      --background: #FDD609;
      --foreground: #FFF;
      --border: #FDD609; }
    .c-detail-aside__cta[disabled] {
      opacity: 0.2;
      pointer-events: none; }

.c-gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #FFF;
  overflow: auto;
  transition: opacity .3s, visibility .3s;
  opacity: 0;
  visibility: hidden; }
  .c-gallery-modal--visible {
    visibility: visible;
    opacity: 1; }
  .c-gallery-modal__close {
    position: absolute;
    top: 32px;
    left: 20px;
    border: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: var(--close-icon-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    padding: 0 !important; }
    .c-gallery-modal__close::after {
      display: none !important; }
    @media (min-width: 1024px) {
      .c-gallery-modal__close {
        left: calc((100% - 704px) / 2 - 100px); } }
  .c-gallery-modal__contents {
    padding-top: 85px;
    padding-bottom: 85px;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    max-width: 704px; }
  .c-gallery-modal__gallery {
    margin-bottom: 80px; }
  .c-gallery-modal__heading {
    font-size: 22px;
    line-height: 26px; }
  .c-gallery-modal__photos {
    margin-top: 35px; }
  .c-gallery-modal__photo:not(:first-child) {
    margin-top: 22px; }
  .c-gallery-modal__img {
    display: block;
    width: 100%; }

.c-floor-plan-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #FFF;
  overflow: auto;
  transition: opacity .3s, visibility .3s;
  opacity: 0;
  visibility: hidden; }
  .c-floor-plan-modal--visible {
    visibility: visible;
    opacity: 1; }
  .c-floor-plan-modal__close {
    position: absolute;
    top: 32px;
    left: 20px;
    border: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: var(--close-icon-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    padding: 0 !important; }
    .c-floor-plan-modal__close::after {
      display: none !important; }
    @media (min-width: 1024px) {
      .c-floor-plan-modal__close {
        left: calc((100% - 704px) / 2 - 100px); } }
  .c-floor-plan-modal__container {
    padding-top: 85px;
    padding-bottom: 85px;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    max-width: 704px; }
  .c-floor-plan-modal__image {
    font-size: 22px;
    line-height: 26px; }
  .c-floor-plan-modal__img {
    display: block;
    width: 100%; }

.c-thank-you-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #FFF;
  overflow: auto;
  transition: opacity .3s, visibility .3s;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.45); }
  .c-thank-you-modal--visible {
    visibility: visible;
    opacity: 1; }
  .c-thank-you-modal__close {
    position: absolute;
    top: 32px;
    right: 20px;
    border: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: var(--close-icon-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    padding: 0 !important; }
    .c-thank-you-modal__close::after {
      display: none !important; }
  .c-thank-you-modal__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 85px;
    padding-bottom: 85px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 704px;
    background-color: #FFF; }
    @media (min-width: 768px) {
      .c-thank-you-modal__container {
        height: auto;
        min-height: 433px;
        border-radius: 2px; } }
  .c-thank-you-modal__heading {
    font-family: 'Yellowtail', cursive !important;
    font-size: 42px;
    line-height: 58px; }
  .c-thank-you-modal__copy {
    font-size: 16px;
    line-height: 21px;
    margin-top: 20px;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto; }
  .c-thank-you-modal__loading {
    display: none; }
    .c-thank-you-modal--loading .c-thank-you-modal__loading {
      display: block; }
  .c-thank-you-modal--loading .c-thank-you-modal__thank-you {
    display: none; }
