@import "base/mixins";

#main-content {
	.swiper-parent {
		width: 100vw;
		margin-left: calc(50% - 50vw);
		overflow: hidden !important;
		padding: 0 30px;
	}

	// .swiper-container.content-looped-carousel {
	// 	width: 100vw;
	// 	margin-left: calc(50% - 50vw);
	// 	overflow: hidden !important;

	// 	.swiper-wrapper {
	// 		width: calc(100% * 318 / 375);
	// 		max-width: 1420px;
	// 	}
	// }

}